#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=lasm
Comment=Linux Assembly
Exec=/path/to/lasm/lasm
Path=/path/to/lasm
Icon=/path/to/lasm/Icons/lasm.png
Categories=Development;
Terminal=false
